/* Full-screen menu */
.full-screen-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* Show the menu */
.full-screen-menu.show {
  transform: translateX(0);
}

/* Hamburger button */
.navbar-toggler {
  border: none;
  background: transparent;
  position: relative;
  z-index: 1051;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Enlarge the hamburger button on hover */
.navbar-toggler:hover {
  transform: scale(1.2);
}

/* Hide the hamburger icon when the menu is open */
.full-screen-menu.show + .navbar-toggler {
  display: none;
}

/* Rotate the hamburger icon when the menu is open */
.navbar-toggler.open {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

/* Full-screen menu links */
.full-screen-menu .nav-link {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
  transition: color 0.15s ease;
}

/* Change link color when menu is open */
.full-screen-menu.navbar-collapse.show .nav-link:hover {
  color: #e11000;
}

/* Close button */
.close-menu-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  z-index: 1051;
  cursor: pointer;
}

.close-menu-button:hover {
  color: #e11000;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .full-screen-menu {
    width: 40vw;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler.open {
    transform: rotate(180deg);
  }

  .full-screen-menu .nav-link {
    font-size: 1.2rem;
  }
}

/* For very small screens like mobile (less than 480px) */
@media (max-width: 480px) {
  .full-screen-menu {
    width: 60vw;
  }

  .navbar-toggler {
    padding: 10px;
  }

  .full-screen-menu .nav-link {
    font-size: 1rem;
  }
}

