.footer {
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  padding: 60px 0;
  position: relative;
}

.title {
  font-size: 38px;
  margin-bottom: 30px;
  font-weight: 300;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactInfo p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.contactInfo svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  flex-shrink: 0;
}

.contactInfo p:first-child {
  max-width: 200px;
}

.socialLinks a,
.quickLinks a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  font-size: 20px;
}

.contactInfo svg,
.socialLinks svg {
  width: 20px;
  height: 20px;
}

.verticalLine {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.leftLine {
  left: 33.33%;
  transform: translateX(-50%);
}

.rightLine {
  left: 66.66%;
  transform: translateX(-50%);
}

.column {
  position: relative;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .verticalLine {
    display: none;
  }

  .column {
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
