.servicesSection {
  width: 100%;
  background-color: #f8f8f8;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  padding: 80px 140px 60px 120px;
}

.titleGroup {
  display: flex;
  flex-direction: column;
}

.titleGroup h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.titleGroup h3 {
  font-size: 24px;
  margin: 0;
}

.button {
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 25px;
  border: 2px solid #1e1e1e;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 991px) {
  .headerWrapper {
    flex-direction: column;
    gap: 40px;
    padding: 40px 100px;
  }
  .titleGroup h1 {
    font-size: 36px;
  }

  .titleGroup h3 {
    font-size: 20px;
    margin: 0;
  }
}
