/* Hero Section Styling */

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 60vh;
  overflow: hidden;
}
.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-text {
  font-size: 1.2rem;
  max-width: 800px;
}

/* Services Section */
.services-container .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
/* .services-container .card:hover {
  transform: scale(1.05);
} */

/* Testimonials Section */
.testimonials-section {
  background-color: #000;
  width: 100vw;
}

.testimonials-section heading {
  color: white;
}

.testimonials-section blockquote {
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
}
.testimonials-section .blockquote-footer {
  font-size: 1rem;
  color: #ccc;
}

/* Features Section */
.features-section .feature-icon {
  width: 50px; /* Small icon size */
  height: auto;
}
.features-section .feature-text {
  font-size: 1rem;
  color: #333;
}
